/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('../images/imagem1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}

/* Container principal */
.container {
    background: #fff;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

h2 {
    text-align: center; /* Título centralizado */
    color: #4CAF50;
    margin-bottom: 20px;
}

h3 {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #333;
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 5px;
}

.info p {
    color: #555;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

/* Classe para espaçamento extra entre parágrafos específicos */
.espaco-inferior {
    margin-bottom: 20px; /* Ajuste conforme necessário */
}

form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="date"],
select {
    font-size: 1rem;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: all 0.3s;
    width: 100%;
}

input[type="text"]:focus,
input[type="date"]:focus,
select:focus {
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.3);
}

button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

button:active {
    transform: scale(0.98);
}

#resultado,
#resultadoHistorico {
    margin-top: 15px;
    font-size: 0.9rem;
    color: #333;
}

a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Adaptação para dispositivos móveis */
@media (max-width: 600px) {
    .container, .feedback-container {
        padding: 15px;
        box-shadow: none;
    }

    h3 {
        font-size: 1rem;
    }

    input[type="text"],
    input[type="date"],
    select {
        font-size: 0.9rem;
        padding: 8px;
    }

    button {
        padding: 8px;
        font-size: 0.9rem;
    }
}

.btn-primary {
    background-color: #4CAF50; /* Cor de fundo */
    color: white; /* Cor do texto */
    padding: 10px 20px; /* Espaçamento interno */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #45a049; /* Cor de fundo ao passar o mouse */
}

.container .info p {
    text-align: left;
    margin-bottom: 10px;
}

.background-imagem1 {
    background-image: url('../images/imagem1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.cancel-title {
    text-align: center;
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

.checkbox-group {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.custom-checkbox {
    width: 24px;
    height: 24px;
    border: 2px solid #4CAF50;
    border-radius: 50%;
    appearance: none;
    cursor: pointer;
    margin-right: 10px;
    position: relative;
}

.custom-checkbox:checked {
    background-color: #4CAF50;
    border-color: #4CAF50;
}

.agendamento-label {
    font-size: 16px;
    color: #333;
}

.submit-button-container {
    text-align: center;
    margin-top: 20px;
}

.btn-primary {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #45a049;
}
